@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=DynaPuff:wght@400..700&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=DynaPuff:wght@400..700&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*-----------------Header------------------------------*/
header {
    position: absolute;
    width: 100%;
}
.container-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 180px; 
    align-items: center;
}
.logo {
    width: 150px; 
}
.navbar ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar .menu-burger {
    display: none;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
}

@media screen and (width < 914px) { 
    header {
        width: 100%;
    }
    .container-header {
        padding: 30px; 
    }
    .logo {
        width: 180px; 
    }
    .navbar ul {
        display: none; 
    }
    .navbar .menu-burger {
        display: block; 
    }
}
/*-----------------Section: Page One-------------------------*/
.pageOne {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../images/desktop/image-hero.jpg");
    background-size: cover;
    height: auto;
    width: 100%; 
    display: flex; 
    overflow: hidden;
}
.welcome {
    padding: 230px 180px 130px 180px; 
    
}
.title {
    font-size: 4em;
    width: 55%;
    font-weight: 200;
    letter-spacing:5px;
    line-height: 60px;
    text-transform:uppercase ;
    color: #fff;
    border: 1px solid #fff;
    padding: 30px;
    box-sizing: border-box;
    margin: 0;
}

@media screen and (width < 914px) {
    .welcome {
        padding: 230px 30px 280px 30px; 
        
    }
    .title {
        font-size: 2em;
        width: 100%;
        font-weight: 300;
        line-height: 40px;
        border: 2px solid #fff;
        padding: 20px;
    }
}
/*-----------------Section: Page Two-------------------------*/
.pageTwo{
    padding: 30px 180px;
}
.container-pageTwo{
    display: flex;
}
.container-pageTwo img{
    width: 600px;
}
.pageTwo-text{
    background-color: #fff;
    position: absolute;
    margin: 93px 180px 0 450px;
    padding: 120px 0 0 112px;
}
.pageTwo-text h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 250;
    line-height: 40px;
    margin-bottom: 20px;
}
.pageTwo-text p{
    width: 100%;
    color: #706f6f;
}
@media screen and (width < 914px) {
    .pageTwo{
        padding: 30px;
        height: 77vh;
    }
    .container-pageTwo{
        flex-direction: column;
    }
    .container-pageTwo img{
        width: 100%;
    }
    .pageTwo-text{
        position: none;
        background-color: none;
        top: 56rem;
        width: 81%;
        margin:  30px 100px 30px 0 ;
        padding: 0px ;
    }
    .pageTwo-text h2{
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 250;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .pageTwo-text p{
        text-align: center;
        width: 100%;
        color: #706f6f;
    }
}

/*-----------------Section: Creation -------------------------*/
.creations {
    padding: 30px 180px;
}
.creation-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.title-h2 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2.5em;
}
.creation-header .seeall1{
    border: 1px solid #000;
    padding: 0 2% ;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
.creations-bottom .seeall2{
    display: none;
    border: 1px solid #000;
    padding: 0 2% ;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-content: space-between;
}
.card-item{
    position: relative;
    display: inline-block;
    width: 230px; 
    overflow: hidden;
    
}
.card-item:hover{
    box-shadow: 10px 5px 5px #000;
    transition: box-shadow 1s ease, transform 1s ease;
    transform: scale(1.05) ;
}

.card-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 1;
}
.card-item img{
    width: 100%;
    height: 100%;
}
.card-item p {
    position:absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    padding-left:20px ;
    text-transform:uppercase;
    color: #fff;
    font-size: 35px;
    z-index: 2;
    font-weight: 200;
    line-height: 35px;
}
@media screen and (width < 914px) {
    .creations {
        padding: 30px;
    }
    .creation-header{
        justify-content: center;
    }
    
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
    .card-item{
        width: 100%; 
        height: 150px;
    }
    .card-item::after {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0));
        z-index: 1;
    }
    .card-item img{
        width: 100%;
        height: auto;
    }
    .creation-header .seeall1 {
        display: none;
    }
    .creations-bottom {
        width: 100%;
        margin-top:30px;
        padding:0 100px;
    }
    .creations-bottom .seeall2{
        display: block;
        font-size: 24px;
        text-align: center;
    }
}
/*-----------------Footer-------------------------*/
footer {
    padding: 30px 180px;
    margin-top: 60px;
    background-color: #000;
}
.container-footer-top{
    display: flex;
    justify-content: space-between;
}

.rx-footer {
    gap: 1em;
}
.rx-footer ion-icon {
    color: #fff;
    font-size: 20px;
}
.container-footer-bottom{
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    display: flex;
}
.navbar-bottom nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.navbar-bottom nav ul li a{
    color: #fff;
    text-decoration: none;
}
.b {
    display: none;
}
.copyright {
    color: #4b4a4a;
}
@media screen and (width < 914px) {
    footer {
        padding: 50px 30px;
        text-align: center;
    }
    .container-footer-top{
        flex-direction: column;
    }
    .a1{
        display: none;
    }
    .container-footer-bottom{
        justify-content: center;
        flex-direction: column;
    }
    .navbar-bottom nav {
        margin-bottom: 30px;
    }
    .navbar-bottom nav ul{
        flex-direction: column;
    }
    .b {
        display: block;
        padding: 9px;
    }
    .b ion-icon{
        
        font-size: 30px;
    }
}




